/*
color scheme

dark grey: #3d454f;
yellow: #ffcd00;
turquois: #00c4cd;
white: #fff;


TABLE OF CONTENTS

1. GLOBAL SETTINGS
	1.1 BOX FOR HOME PAGE AND ACTIVITIES PAGE

2. NAVIGATION
	2.1 HOME NAVIGATION

3. STICKY FOOTER AND SOCIAL MEDIAS
	3.1 SOCIAL MEDIA FOOTER
	3.2 HOME FOOTER

4. HOME PAGE

5. ACTIVITIES PAGE
	5.1 Image box and hover effect
	5.2 Description
	5.3 Price table

6. FOOD AND DRINKS PAGE

7. SPECIALS PAGE

8. RESERVATION PAGE

9. CONTACT PAGE
	9.1 SIDE NAV

*/

@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

/* -----------------------
    1. GLOBAL SETTINGS
-------------------------*/
html, body{
	height: 100%;
	margin: 0;
	min-width: 1025px;
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 13pt;
	color: #3d454f;
}

a{
	text-decoration: none;
	color: #fff;
}

a:hover{
	color: #3d454f;
}

hr{
	clear: right;
	display: block;
	border-top: 3px solid #ffcd00;
	margin: 0;
}

h1{
	font-size: 34pt;
	text-transform: uppercase;
	display: inline-block;
	color: #00c4cd;
	margin-bottom: 5px;
}

h2{
	margin: 0px;
	font-size: 26pt;
}

h3{
	font-family: 'Amatic SC', cursive;
	font-size: 34pt;
	font-weight: 700;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}

li{
	list-style-type: none;
}

main{
	background-color: #fff;
	margin: 0 auto -157px auto;
	min-height: 100vh;
}

.wrapper{
	margin: 0 auto;
	max-width: 850px;
	padding: 0 30px;
}

	/* --------------------------
	1.1 Boxes for Home and Activities 
	-----------------------------*/
	.box{
		display: -webkit-box;
	  	display: -moz-box;
	  	display: -ms-flexbox;
	  	display: -webkit-flex;
	  	display: flex;
	    -webkit-flex-flow: row wrap;
	  	justify-content: space-between;
	  	margin: 0 auto;
	  	max-width: 850px;
	  	clear: left;
	}

	.box div{
	    width: 220px;
	    height: 180px;
	    background-color: #3d454f;
	    position: relative;
	    margin: 0 5px 50px 5px;
	}

	.box div a, .spe-box div p {
		background-color: #fff;
		text-transform: uppercase;
		position: absolute;
		padding: 5px 20px;
		top: 110px;
		color: #3d454f;
	}

	.box div a:hover{
		color: #ffcd00;
	}

/* -----------------------
    2. NAVIGATION
-------------------------*/
header{
	background-color: #ffcd00;
}

.nav img{
	position: absolute;
	top: 10px;
	left: 50px;
}

.nav ul {
	padding: 106px 10px 15px 0;
	margin:0;
	text-align: right;
}

.nav ul li{
	text-transform: uppercase;
	display: inline;
	padding: 0 10px;
}

	/* ------------
	2.1 Home nav 
	---------------*/
	#home-nav{
		background-color: #fff;
	}

	#home-nav .nav ul li a{
		color: #3d454f;
	}

	#home-nav .nav ul li a:hover{
		color: #ffcd00;
	}

	#home-line{
		border-top: 3px solid #00c4cd;
	}

/* -----------------------
    3. STICKY FOOTER AND SOCIAL MEDIAS
-------------------------*/
footer{
	text-align: center;
	font-weight: 300;
	background-color: #ffcd00;
	width: 100%;
	color: #fff;
	padding: 40px 0;
}

footer, .push{
	height: 157px;
}

.footer-line, .w-footer-line{
	border-top: 1px solid #fff;
	width: 67%;
	margin: 0 auto 40px auto;
}

	/* --------------------
	3.1 Social media icons footer
	----------------------*/
	.sm-icons{
		margin-bottom:20px;
	}

	.icons{
		width: 50px;
		height: 50px;
		background-size: cover;
		background-repeat: no-repeat;
		display: inline-block;
		margin:0 15px 20px 15px;
	}

	/* Free Social Media Icons made by Christophe Kerebel 
	https://dribbble.com/shots/2247532-Freebies-Social-flat-icons-set */
	#link-square1{
		background-image: url('../media/fb-fill.png');
	}

	#link-square1:hover{
		background-image: url('../media/fb-fill-h.png');
	}

	#link-square2{
		background-image: url('../media/tw-fill.png');
	}

	#link-square2:hover{
		background-image: url('../media/tw-fill-h.png');
	}

	#link-square3{
		background-image: url('../media/ins-fill.png');
	}

	#link-square3:hover{
		background-image: url('../media/ins-fill-h.png');
	}


	/* --------------------
	3.2 Home white footer 
	----------------------*/
	.w-footer-line{
		border-top: 1px solid #3d454f;
	}

	#w-link-square1{
		background-image: url('../media/fb-outline.png');
	}

	#w-link-square1:hover{
		background-image: url('../media/fb-outline-h.png');
	}

	#w-link-square2{
		background-image: url('../media/tw-outline.png');
	}

	#w-link-square2:hover{
		background-image: url('../media/tw-outline-h.png');
	}

	#w-link-square3{
		background-image: url('../media/ins-outline.png');
	}

	#w-link-square3:hover{
		background-image: url('../media/ins-outline-h.png');
	}

	.w-footer{
		color: #3d454f;
		background-color: #fff;
	}

/* -----------------------
    4. HOME PAGE
-------------------------*/
h5{
	font-family: 'Amatic SC', cursive;
	font-size: 75pt;
	margin-bottom: 20px;
	color:#3d454f;
}

.intro{
	position: absolute;
	left: 50%;
	font-size: 20pt;
	padding: 0 30px;
	font-weight: 300;
}

.intro a {
	background-color: #ffcd00;
	padding: 5px 25px;
	border-radius: 5px;
}

#home-main{
	background-color: #00c4cd;
	position: relative;
	min-width: 0%;
}

.banner-slides{
	width: 100%;
	background-color: #fff;
}

.home-body{
	padding-top: 40px;
}

.home-body p{
	padding: 10px 0;
	color: #fff;
	font-weight: 300;
	margin: 0 auto;
	max-width: 850px;
}

#plane{
	position: absolute;
	top: 200px;
	max-width: 400px;
}

/* -----------------------
    5. ACTIVITIES PAGE
-------------------------*/
#act-box{
	margin:7% auto 4% auto;
	max-width: 850px;
}

#act-box div{
	font-family: 'Amatic SC', cursive;
	font-size:25pt;
	position: relative;
}

#act-box div p{
	margin-left: 10px;
	padding-top: 135px;
	margin-bottom: -42px;
	opacity: 1;
	-webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

	/* --------------------
	5.1 Image box and hover effect
	----------------------*/
	span{
		font-family: 'Amatic SC', cursive;
		color: #fff;
	    cursor: pointer;
	    float: right;
	    margin-right: 10px;
	    opacity: 0;
	    -webkit-transition: opacity 500ms;
	    -moz-transition: opacity 500ms;
	    -o-transition: opacity 500ms;
	    transition: opacity 500ms;
	}

	#act-box a:hover span{
		opacity: 1;
	}

	#act-box a:hover div p{
		opacity: 0;
	}

	#br-img{
		background-image: url('../media/br.png');
	}

	#eg-img{
		background-image: url('../media/eg.png');
	}

	#uk-img{
		background-image: url('../media/uk.png');
	}

	#it-img{
		background-image: url('../media/it.png');
	}

	#jp-img{
		background-image: url('../media/jp.png');
	}

	#usa-img{
		background-image: url('../media/usa.png');
	}

	/* --------------------
	5.2 Description
	----------------------*/
	.images{
		float: left;
		background-color: #3d454f;
	}

	.images-right{
		float: right;
		background-color: #3d454f;
	}

	.descriptions{
		width: 55%;
		float: right;
	}

	.descriptions-right{
		width: 50%;
	}

	.descriptions, .descriptions-right{
		font-weight: 300;
		line-height: 25px;
	}

	#brazil, #egypt, #uk, #italy, #japan, #usa{
		padding: 80px 0;
	}

	#brazil, #japan{
		background-color: #00c4cd;
	}

	#egypt, #italy, #usa{
		background-color: #fff;
	}

	#uk{
		background-color: #ffcd00;
	}

	/* --------------------
	5.3 Price table
	----------------------*/
	.price{
		padding-top: 20px;
		clear: left;
	}

	.price-right{
		clear: right;
	}

	.price-right h2{
		padding-top: 30px;
	}

	#age-limit{
		padding-left: 0;
		color:#3d454f;
	}

	table{
		margin-top: 20px;
		width: 100%;
		border: 1px solid #3d454f;
	}

	th{
		width: 50%;
		padding: 8px;
		border-bottom: 1px solid #3d454f;
	}

	th.last{
		border-bottom: none;
	}

	th.right{
		border-left: 1px solid #3d454f;
	}

/* -----------------------
    6. FOOD AND DRINKS PAGE
-------------------------*/
.menu li {
	font-weight: 700;
	list-style-type: none;
	margin-left: -20px;
}

.menu li p{
	font-weight: 300;
}

.food-icons{
	margin-left: 10px;
}

strong{
	padding-left: 50px;
	color: #ffcd00;
}

/* -----------------------
    7. SPECIALS PAGE
-------------------------*/
h6{
	text-transform: uppercase;
	margin: 10px 6px;
	font-size: 16pt;
}

#passport h1{
	display: block;
}

#passport img{
	float: left;
}

#passport p{
	float: left;
	width: 60%;
	margin: 0 30px;
}

#packages{
	clear: left;
}

.spe-box div p{
	background-color: #ffcd00;
	color: #3d454f;
}

.spe-box div{
	margin-bottom: 0;
}

section{
	margin-bottom: 20px;
}

section ul{
	padding-left: 8px;
}

.details{
	font-size: 12pt;
	font-weight: 300;
}

/* -----------------------
    8. RESERVATION PAGE
-------------------------*/

/* -----------------------
    9. CONTACT PAGE
-------------------------*/
#contact-left{
	max-width: 60%;
}

#contact-left h3{
	color: #00c4cd;
	text-align: left;
	margin: 0;
}
#contact-left .links, .contact-sm-icons a:hover{
	color: #00c4cd;
}

#contact-left .links:hover,{
	color: #ffcd00;
}

	/* --------------------
	9.1 Side nav
	----------------------*/
	.side-nav-h2{
	    font-size: 20pt;
	    text-transform: uppercase;
	    color: #00c4cd;
	}

	#store-info{
		display: block;
		margin-top: 40px;
		float: right;
		max-width: 35%;
	}

	#store-info .icons{
		margin: 5px 0;
	}

	#store-info ul{
		padding-left: 5px;
	}

	.days{
		padding: 4px 0;
		font-weight: bold;
	}

	#map{
		width: 270px;
		height: 200px;
		background-color: black;
		margin: 30px 0 10px 0;
	}

	.contact-sm-icons a{
		color: #3d454f;
	}


	.contact-sm-icons img{
		vertical-align: middle;
		padding: 5px 10px 5px 0px;
	}